{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block content %}
    <div class="content-section container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Log In
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Login</button>
		<p style="float: right; padding-top: 12px; font-size:12px">If the site crashes while logging or signing up, please open from a new window.</p>
            </div>
        </form>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-sm-6">
            <div class="row">
                <div class="video-container-login">{% video "https://www.youtube.com/watch?v=mO_dS3rXDIs" '100%x100%' %}</div>
            </div>
        </div>
    </div>
{% endblock content %}
