{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block content %}
    <div class="content-section container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Log In
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Login</button>
		<p style="float: right; padding-top: 12px; font-size:12px">If the site crashes while logging or signing up, please open from a new window.</p>
            </div>
        </form>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-sm-6">
            <div class="row">
                <div class="video-container-login">{% video "https://vimeo.com/718279671" '100%x100%' %}</div>
            </div>
        </div>
    </div>
    <div class="row pt-4">
	<div class="col-md-3 col-sm-6 text-center">
	    <a class="text-dark" href="https://drive.google.com/file/d/1eD-iKVHvigs6O_5hn70_L9153sR6yH7D/view?usp=sharing">Disclaimer</a>
	</div>
	<div class="col-md-3 col-sm-6 text-center">
	    <a class="text-dark" href="https://drive.google.com/file/d/1njhoCG8VfFxeC3lTHxzPdbsFqcr5fmKQ/view?usp=sharing">Terms & Conditions</a>
        </div>
	<div class="col-md-3 col-sm-6 text-center">
	    <a class="text-dark" href="https://drive.google.com/file/d/1p88msl0ZcIPHtVlH0ILOx9TmgN-g1X97/view?usp=sharing">Privacy Policy</a>
        </div>
	<div class="col-md-3 col-sm-6 text-center">
            <a class="text-dark" href="https://drive.google.com/file/d/1lbRsYn8c9knGJDmoxYnjPWiUULLJnCKY/view?usp=sharing">Refund & Cancellation Policy</a>
        </div>
    </div>
    <div class="row pt-4 pb-4">
        <div class="col-md-4 col-sm-6 text-center">
            <p class="text-dark">About us</p><p class="text-muted">Maven Edumatrix and Tech Amelioration</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
	    <p class="text-dark">Contact us</p><a class="text-muted" href="Tel:+919830266229">+91 9830266229</a><br/><a class="text-muted" href="https://www.google.co.in/maps/place/Standard+Chartered+Bank+19+NS+Road+Kolkata/@22.5753625,88.3461013,17z/data=!3m1!4b1!4m5!3m4!1s0x3a0277bb45a3e979:0xb91c60cd69434867!8m2!3d22.5753576!4d88.34829?hl=en">Chartered Bank Building, Second Floor, Room no. C, 4, N.S. Road, Kolkata 700001</a>
        </div>
	<div class="col-md-4 col-sm-6 text-center">
	    <p class="text-dark">Pricing</p><p class="text-muted">10000 INR</p>
	</div>
{% endblock content %}
