{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    New User
                </legend>
                {{ form|crispy }}
            </fieldset>
            {% if form_isValid %}
            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlEMk6ax6SCoCI" async> </script> 
            {% else %}
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Proceed to Payment</button>
		<p style="float: right; padding-top: 12px; font-size: 12px;">If the site crashes while logging or signing up, please open from a new window.</p>
            </div>
            {% endif %}
        </form>
    </div>
{% endblock content %}
