{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    New User
                </legend>
                {{ form|crispy }}
            </fieldset>
            {% if form_isValid %}
            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JpdijRFQ8DXV3t" async> </script> 
            {% else %}
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Proceed to Payment</button>
		<p style="float: right; padding-top: 12px; font-size: 12px;">If the site crashes while logging or signing up, please open from a new window.</p>
            </div>
            {% endif %}
        </form>
	<p style="padding-top: 12px; font-size: 12px;">In the event that your account creation is not successful due to any issue in network or payment portal, please try creating the account with the same name only after 24 hrs.</p>
    </div>
{% endblock content %}
