{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% comment %} MAIN VIDEO {% endcomment %}
                    {% for video in videos %}
                        {% if forloop.counter == index %}
                            {% comment %} ACCESS MAIN VIDEO BY 'video' VARIABLE {% endcomment %}
                            <div class="video-container">{% video video.url '100%x100%' %}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-12 col-sm-12">
                    {% comment %} TEXT_AREA {% endcomment %}
                    <div class="form-outline pt-3 pb-3">
                        <textarea class="form-control" id="textAreaExample1" rows="9"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="content-section">
                {% comment %} SIDEBAR {% endcomment %}
                <h3>Playlist</h3>
                <p class='text-muted'>
                    <ul class="list-group infinite-scroll" style="max-height: 61vh; overflow-y: scroll;">
                        {% for video in videos %}
                            {% if forloop.counter == index %}
                                <li class="list-group-item list-group-item-light disable">
                                    {% comment %} EACH VIDEO {% endcomment %}
                                    <a>
                                        {% video video.url as my_video %}
                                            <img class="thumbnail" src="{{ my_video.thumbnail }}">
                                        {% endvideo %}
                                        <p class="title">{{ video.title }}</p>
                                    </a>
                                </li>
                            {% else %}
                                <li class="list-group-item list-group-item-light">
                                    {% comment %} EACH VIDEO {% endcomment %}
                                    <a href="{% url 'Course-home' %}{{ forloop.counter }}">
                                        {% video video.url as my_video %}
                                            <img class="thumbnail" src="{{ my_video.thumbnail }}">
                                        {% endvideo %}
                                        <p class="title">{{ video.title }}</p>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </p>
                {% comment %} SIDEBAR END {% endcomment %}
            </div>
        </div>
    </div>
{% endblock content %}
