{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-8">

            {% comment %} BIG VIDEO {% endcomment %}

            {% for video in videos %}
                {% if forloop.counter == index %}

                    {% comment %} ACCESS MAIN VIDEO BY 'video' VARIABLE {% endcomment %}
                    {% video video.url '100% x 100%' %}

                {% endif %}
            {% endfor %}

            {% comment %} BIG VIDEO END {% endcomment %}


            {% comment %} TEXT-AREA {% endcomment %}

            <div class="form-outline pt-3">
                <textarea class="form-control" id="textAreaExample1" rows="12"></textarea>
            </div>

            {% comment %} TEXT-AREA END {% endcomment %}


        </div>
        <div class="col-md-4">
            <div class="content-section">

                {% comment %} SIDEBAR {% endcomment %}

                <h3>Playlist</h3>

                <p class='text-muted'>
                    <ul class="list-group">

                        {% for video in videos %}
                            <li class="list-group-item list-group-item-light">

                                {% comment %} EACH VIDEO {% endcomment %}
                                <a href="{% url 'Course-home' %}{{ forloop.counter }}">{{ video.title }}</a>

                            </li>
                        {% endfor %}

                    </ul>
                </p>

                {% comment %} SIDEBAR END {% endcomment %}

            </div>
        </div>
    </div>
{% endblock content %}
