{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
<div class="row">
    <div class="col-md-7 col-sm-6">
        <div class="row">
            <!-- <div class="col-md-12 col-sm-12">
                <div class="video-container">{% video main_video.url '100%x100%' %}</div>
            </div> -->
            <div class="col-md-12 col-sm-12">
                <form action="/runcode/{{index}}" method="post">
                    {% csrf_token %}
                    <div class="form-group-pt-3" >
                        <!-- <label for="codearea">Code Area</label> -->
                        <textarea type="text" class="form-control" id="codearea" name="codearea" rows="25" placeholder="#Code Here"
                            onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ code }}</textarea>
                    </div>

                    <div class="form-group">
                        <!-- <label for="output">Output</label> -->
                        <textarea type="text" class="form-control" id="output" name="output" rows="18" 
                            disabled> {{ output }} </textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="content-section">
            <div class="video-container">{% video main_video.url '20%x20%' %}</div>
        </div>
        <div class="content-section">
            {% comment %} SIDEBAR {% endcomment %}
            <h3>Playlist</h3>
            <p class='text-muted'>
            <ul class="list-group infinite-scroll" style="max-height: 61vh; overflow-y: scroll;">
                {% for video in videos %}
                {% if forloop.counter == index %}
                <li class="list-group-item list-group-item-light disable"><a>
                {% else %}
                <li class="list-group-item list-group-item-light"> <a href="{% url 'Course-home' %}{{ forloop.counter }}">
                {% endif %}
                        {% video video.url as my_video %}
                        <img class="thumbnail" src="{{ my_video.thumbnail }}">
                        {% endvideo %}
                        <p class="title">{{ video.title }}</p>
                    </a>
                </li>

                {% endfor %}
            </ul>
            </p>
            {% comment %} SIDEBAR END {% endcomment %}
        
        </div>
    </div>
</div>
{% endblock content %}